.App {
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.node-base {
    border: solid;
    background-color: #699BD0FF;
    color: #f0fdfa;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rounded-node {
    border-radius: 50%;
    width: 8rem;
}

.square-node {
    border: solid;
    padding: 2rem;
}

